@import "tailwindcss";

@theme {
  --color-bright-snow: #f9fafb;
  --color-ink-black: #111827;
  --color-slate-grey: #6b7280;
  --color-electric-sapphire: #6366f1;
  --color-bright-indigo: #4338ca;
  --color-soft-periwinkle: #818cf8;
  --color-strawberry-red: #ef4444;
  --color-golden-orange: #f59e0b;
  --color-royal-blue: #2563eb;
  --color-mint-leaf: #10b981;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer base {
  :root {
    color-scheme: light;
  }

  body {
    @apply bg-bright-snow text-ink-black font-sans antialiased;
  }
}
